/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('textura.jpg') repeat; /* Ruta de la imagen .jpg en la carpeta images */
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    background: url('textura.jpg') repeat; /* Textura en el header */
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #2d3e50;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2d3e50;
}

#projects .project {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

#projects .project a {
    display: inline-block;
    margin-top: 10px;
    color: #0077b6;
    text-decoration: none;
}

#projects .project a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
    color: #777;
}
